<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>The hackerl</title>
<meta content="个人博客模板,博客模板,响应式" name="keywords">
<meta content="如影随形主题的个人博客模板，神秘、俏皮。" name="description">
<link href="{{static_url("css/base.css")}}" rel="stylesheet">
<link href="{{static_url("css/about.css")}}" rel="stylesheet">
<link href="{{static_url("css/media.css")}}" rel="stylesheet">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="{{static_url("js/modernizr.js")}}"></script>
<![endif]-->
</head>
<body>
<div class="ibody">
  <header>
    <h1>如影随形</h1>
    <h2>影子是一个会撒谎的精灵，它在虚空中流浪和等待被发现之间;在存在与不存在之间....</h2>
    <div class="logo"><a href="/"></a></div>
    <nav id="topnav"><a href="/">江湖</a><a id="topnav_current" href="/about">剑冢</a><a href="/prose">坐忘峰</a><a href="/program">试剑亭</a><a href="/music">绿竹巷</a></nav>
  </header>
  <article>
    <h3 class="about_h">您现在的位置是：<a href="/">江湖</a>&gt;<a href="/about">剑冢</a></h3>
    <div class="about">
      <h2>Just about me</h2>
      <ul>
<p>少时心智不开，顽劣不堪。<br>
所到之处鸡犬不宁，走石飞沙。<br>
好友尽皆避之。</p>
<p>
入学十三载，无心于学业。<br>
整日嬉戏，哗众取宠，以得慰藉。<br>
而后入歪门邪道，提笔作文，挥毫成画，吹箫抚琴。<br>
见者皆掩面而逃。<br>
混迹十载，浑浑噩噩。</p>
<p>
今已弱冠，幡然醒悟。<br>
苦练琴技，专修学业，偶灵感乍现，提笔似流水行云。<br>
大梦初醒，愿生世白头偕老，逍遥于江湖。
</p>
      </ul>
      <h2>About my blog</h2>
      <ul class="blog_a">
<p>
一周前萌生搭建博客的念头。<br>
因为之前做了几个小项目，后台前端都相当简单。<br>
这次希望有所突破。<br>
于是一咬牙，开始了艰辛之路。</p>
<p>
前段找了一个大概html模板。<br>
就几个页面，无奈，只能将页面分析一遍。<br>
接着构造后台大概框架，实现浏览器请求。<br>
然后慢慢细化到权限、cookie、数据库、评论、css.....</p>

<p>大约一周，不眠不休，真有些走火入魔的姿态。<br>
一坐就是一整天，不停的调试。<br>
一起身，惊奇的发现已经晚上了，午饭还没吃。</p>
<p>
连做梦都在想着怎么构建框架。<br>
不过搭完博客的那一刻，别提多爽了。<br>
一行一行代码敲出了这个博客，成就感爆棚。</p>
<p>
另：</p>
<p>
  感谢kevin指导：www.nczkevin.com<br>
  前段模板：www.yangqq.com
</p>
      </ul>
    </div>
  </article>
  <aside>
    <div class="avatar"><a href="/about"><span>关于刘小盼</span></a></div>
    <div class="topspaceinfo">
      <h1>执子之手，与子偕老</h1>
      <p>于千万人之中，我遇见了我所遇见的人....</p>
    </div>
    <div class="about_c">
      <p>网名：Hackerl | 江湖风轻</p>
      <p>爱好：python、吉他、钢琴、小说 </p>
      <p>籍贯：江西省&mdash;九江市</p>
      <p>电话：13870675448</p>
      <p>邮箱：490021209@qq.com</p>
    </div>
  </aside>
  <script src="{{static_url("js/modernizr.js")}}"></script>
  <div class="clear"></div>
  <!-- 清除浮动 --> 
</div>


</body>
</html>
