<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>The hackerl</title>
<meta content="个人博客模板,博客模板,响应式" name="keywords">
<meta content="如影随形主题的个人博客模板，神秘、俏皮。" name="description">
<link href="{{static_url("css/base.css")}}" rel="stylesheet">
<link href="{{static_url("css/about.css")}}" rel="stylesheet">
<link href="{{static_url("css/media.css")}}" rel="stylesheet">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="{{static_url("js/modernizr.js")}}"></script>
<![endif]-->
</head>
<body>
<div class="ibody">
  <header>
    <h1>如影随形</h1>
    <h2>影子是一个会撒谎的精灵，它在虚空中流浪和等待被发现之间;在存在与不存在之间....</h2>
    <div class="logo"><a href="/"></a></div>
    <nav id="topnav"><a href="/">首页</a><a id="topnav_current" href="/about">关于我</a><a href="/prose">从前慢</a><a href="/program">程序园</a><a href="/music">弹指间</a></nav>
  </header>
  <article>
    <h3 class="about_h">您现在的位置是：<a href="/">首页</a>&gt;<a href="/about">关于我</a></h3>
    <div class="about">
      <h2>Just about me</h2>
      <ul>
<p> 一切都太假，真实的只剩下赤裸裸的孤独。<br>
还是怀念小时候，能追着蜻蜓跑半天，能在小溪里严密地搜罗漏网之鱼，能把操场的石头全部翻起。<br>
那时候不懂得时间，不会想很多故作高深的问题，不会需要在虚无中寻在微弱的存在感。<br>
伴孤独而来，随孤独而去。</p>
<p>
小时候会为一场考试担忧，那该是多么易得的幸福。<br>
现在却很难找到慰藉，让自己有余力走下去。<br>
找不到子期，你也不是伯牙。<br>
并没有人懂你的诡谲的内心，那些难以捉摸的怪想法，甚至是邪念。<br>
这些只有自己知道的东西，既不能分享，却又难以舍弃。<br>
久而久之，成了孤独。</p>
<p> 
活得久了。<br>
开始害怕被遗忘。<br>
所以会发条朋友圈，鼓励自己，可是每一句话都不是写给自己的。<br>
是写给别人看的。<br>
文字都在颤抖。<br>
真是羡慕那些从不玩手机的人，他们是多么的幸福，以至于不用在网络里甜蜜地晒幸福。<br>
我也晒幸福，因为我不幸福。<br>
可我希望别人知道，我过得不错，这样我也许能找回些许慰藉。
 </p>
 <p>
这些很正常。<br>
我并不羞于讲出来。<br>
我孤独的时候，我迷茫的时候。<br>
我就喜欢写写淫词艳曲博得别人喝彩，就喜欢拨弦一曲赢几句赞赏，就喜欢发几条看似暧昧的消息引来绯闻。<br>
因为我害怕被遗忘。 </p>
 <p>
这是不是孤独。<br>
孤独，不是寂寞。<br>
酒可解寂寞，却散不开孤独<br>
我说的孤独，是天生的孤独。<br>
是人性的孤独。</p> 
 <p>
世上本就没有圣人。<br>
谁能保持一颗赤子之心，谁能逃开混沌乱世，谁能一入桃源千载怡然自得。<br>
若是真的能做到，我真的很羡慕。<br>
因为他的是幸福的。<br>
我在孤独中挣扎，希望有一天也能逃脱自己内心囚笼。</p> 
<p> 
我说了这么多，看来也是孤独发作了。<br>
且一笑了之。<br>
</p>
      </ul>
      <h2>About my blog</h2>
      <ul class="blog_a">
        <p>微信公众号：wwwyangqqcom</p>
      </ul>
    </div>
  </article>
  <aside>
    <div class="avatar"><a href="/about"><span>关于刘小盼</span></a></div>
    <div class="topspaceinfo">
      <h1>执子之手，与子偕老</h1>
      <p>于千万人之中，我遇见了我所遇见的人....</p>
    </div>
    <div class="about_c">
      <p>网名：Hackerl | 江湖风轻</p>
      <p>爱好：python、吉他、钢琴、小说 </p>
      <p>籍贯：江西省&mdash;九江市</p>
      <p>电话：13870675448</p>
      <p>邮箱：490021209@qq.com</p>
    </div>
  </aside>
  <script src="{{static_url("js/modernizr.js")}}"></script>
  <div class="clear"></div>
  <!-- 清除浮动 --> 
</div>


</body>
</html>
