<html><head>
<meta charset="utf-8">
<title>The hackerl</title>
<meta content="个人博客模板,博客模板,响应式" name="keywords">
<meta content="如影随形主题的个人博客模板，神秘、俏皮。" name="description">
<link href="{{static_url("css/base.css")}}" rel="stylesheet">
<link href="{{static_url("css/about.css")}}" rel="stylesheet">
<link href="{{static_url("css/index.css")}}" rel="stylesheet">
<link href="{{static_url("css/style.css")}}" rel="stylesheet">
<link href="{{static_url("css/media.css")}}" rel="stylesheet">
<meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" name="viewport">
<!--[if lt IE 9]>
<script src="{{static_url("js/modernizr.js")}}"></script>
<![endif]-->
</head>
<body>
<div class="ibody">
  <header>
    <h1>如影随形</h1>
    <h2>影子是一个会撒谎的精灵，它在虚空中流浪和等待被发现之间;在存在与不存在之间....</h2>
    <div class="logo"><a href="/"></a></div>
    <nav id="topnav"><a href="/">江湖</a><a href="/about">剑冢</a><a href="/prose">坐忘峰</a><a href="/program">试剑亭</a><a href="/music" id="topnav_current">绿竹巷</a></nav>
  </header>
  <article>
    <h2 class="about_h">您现在的位置是：<a href="/">江湖</a>&gt;<a href="/music">绿竹巷</a></h2>
    <div class="about">
      <ul>
      <p>
      从小到大，从未想过自己会对音乐感兴趣。<br>
      小学五年级，无意间见同学吹了一次笛子，惊为天人。<br>
      那之前我连歌都没怎么听过，也从未注意过那。<br>
      不过这次，我下定决心，我一定要学会，然后就可以在女同学面前装一个103分的逼。</p>
      <p>
      买了一根五块钱的笛子。<br>
      放在鼻子前，扑面而来一股发霉的气，这并不能阻挡我成为一个艺术家的脚步。</p>
      <p>
      看着搁置在抽屉里半年的笛子，我决定要有所作为。<br>
      于是我打听到楼上买了一架电子琴，于是我挑灯夜战，焚膏继晷。<br>
      一个星期后，小区里流传这样一个传说:每日中午，那曲神秘幽怨的生日歌必然悄然袭来。</p>
      <p>
      没过多久，来到了县城上学。<br>
      一切都是那么新鲜，于是我便忘了我的伟大梦想。<br>
      初一，身后坐着一热爱唱歌的boy。<br>
      每天给我安利歌曲。<br>
      我学的第一首歌乃张杰的天下。<br>
      每日清晨，早自习上必唱，声震千里，穿云裂石。<br>
      遭到女同学友好提醒后，我不得不放弃我的梦想。</p>
      <p>
      那天，夕阳斜挂。<br>
      校园的小路染成了金色，我想斗败的公鸡。<br>
      心中默默为我的梦想默哀。<br>
      我常常想，梦想值几毛钱。<br>
      可千万不要触碰别人的梦想。<br>
      后来，我听说了一个叫周杰伦的，我听了六年他的歌。</p>
      <p>
      大学，我就像是一头脱缰的野猪，没人能阻挡我追逐梦想的脚步。<br>
      淘宝爆款，150元吉他。<br>
      一天拿下生日歌、小星星，感觉真个世界都在为我欢呼，原来快乐这么简单。</p>
      20天拿下老男孩，3天拿下大横按。<br>
      一日不摸琴，浑身不自在。<br>
      就这样唱了一年歌，楼层哀嚎不绝于耳。</p>
      <p>
      之后加入琴行，结交了一群琴兽。<br>
      幡然醒悟，原来音乐不只是弹琴唱歌。<br>
      即兴伴奏、十二平均律、大调小调、和弦走向.....
      我现在已经无可救药的爱上了钢琴。<br>
      吉他已被打入后宫。</p>
      <p>
      二十年间。<br>
      尝试过笛子、口琴、萧、电子琴。<br>
      很感谢当时的我没有放弃。</p>
      </ul>
      <div class="otherlink">
        <h2>浪迹天涯</h2>
      </div>
    </div>
  </article>
  <aside>
    <div class="rnav">
      <li class="rnav1 "><a href="/search?key=钢琴">钢琴</a></li>
      <li class="rnav2 "><a href="/search?key=吉他">吉他</a></li>
      <li class="rnav3 "><a href="/search?key=民谣">民谣</a></li>
      <li class="rnav4 "><a href="/search?key=摇滚">摇滚</a></li>
    </div>
    <div class="ph_news">
      <h2>
        <p>Cover</p>
      </h2>
      <ul class="ph_n">
        <li><span class="num1">1</span><a target="_blank" href="http://www.tudou.com/listplay/T-jAU7ldEyU/2HKJrPQf7KU.html">再见吧，喵小姐</li>
        <li><span class="num2">2</span><a target="_blank" href="http://www.tudou.com/listplay/T-jAU7ldEyU/1jp3U1Hvhfw.html">七里香</a></li>
        <li><span class="num3">3</span><a target="_blank" href="http://www.tudou.com/listplay/T-jAU7ldEyU/tmMyv-HGXe4.html"></a>她说</li>
        <li><span>4</span><a target="_blank" href="http://www.tudou.com/listplay/T-jAU7ldEyU/AywWSLHArUc.html">爷爷泡的茶</a></li>
        <li><span>5</span><a target="_blank" href="http://www.tudou.com/listplay/T-jAU7ldEyU/HKTHfiOoKBo.html">温柔</a></li>
        <li><span>6</span><a target="_blank" href="http://www.tudou.com/listplay/T-jAU7ldEyU/IqNTEAwzQKs.html">安和桥</a></li>
        <li><span>7</span><a target="_blank" href="http://www.tudou.com/listplay/T-jAU7ldEyU/uXrS9pPFpPg.html">完美生活</a></li>
        <li><span>8</span><a target="_blank" href="http://www.tudou.com/listplay/T-jAU7ldEyU/6xmsCZaj7cc.html">七号公园</a></li>
        <li><span>9</span><a target="_blank" href="http://www.tudou.com/listplay/T-jAU7ldEyU/KTU2OLgiyxA.html">董小姐</a></li>
      </ul>
      <h2>
        <p>Site</p>
      </h2>
     <div class="tj_news"> 
      <ul>
        <li><a target="_blank" href="http://douban.fm/">FM | 豆瓣</a></li>
        <li><a target="_blank" href="http://weibo.com/u/3828125198">Blog | 微博 </a></li>
        <li><a target="_blank" href="https://github.com/Hackerl">Code | github</a></li>
        <li><a target="_blank" href="http://music.163.com/#/user/home?id=68145552">163 | 网易云音乐</a></li>
        <li><a target="_blank" href="http://www.tudou.com/plcover/T-jAU7ldEyU/">Cover | 梦中的哈德森</a></li>
      </ul>
      </div>
      <h2>
        <p>visitor</p>
<ul class="ds-recent-visitors" data-num-items="24"></ul>
<!--多说js加载开始，一个页面只需要加载一次 -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"hackerl"};
(function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
<!--多说js加载结束，一个页面只需要加载一次 -->
      </h2>
    </div>
    <div class="copyright">
      <ul>
        <p> Design by <a href="/">DanceSmile</a></p>
        <p>蜀ICP备11002373号-1</p>
        <p></p>
      </ul>
    </div>
  </aside>
<script src="{{static_url("js/modernizr.js")}}"></script>
  <div class="clear"></div>
  <!-- 清除浮动 --> 
</div>


</body></html>
