<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{home_title}}</title>
<meta content="个人博客模板,博客模板,响应式" name="keywords">
<meta content="如影随形主题的个人博客模板，神秘、俏皮。" name="description">
<link href="{{static_url("css/base.css")}}" rel="stylesheet">
<link href="{{static_url("css/index.css")}}" rel="stylesheet">
<link href="{{static_url("css/style.css")}}" rel="stylesheet">
<link href="{{static_url("css/media.css")}}" rel="stylesheet">

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="{{static_url("js/modernizr.js")}}"></script>
<![endif]-->
</head>
<body>
<div class="ibody">
  <header>
    <h1>如影随形</h1>
    <h2>影子是一个会撒谎的精灵，它在虚空中流浪和等待被发现之间;在存在与不存在之间....</h2>
    <div class="logo"><a href="/"></a></div>
    <nav id="topnav"><a href="/">江湖</a><a href="/about">剑冢</a><a href="/prose">坐忘峰</a><a href="/program" id="topnav_current">试剑亭</a><a href="/music">绿竹巷</a></nav>
  </header>
  <article>
    <h2 class="about_h">您现在的位置是：<a href="/">江湖</a>&gt;<a href="/program">试剑亭</a></h2>
    <div class="template">
      <h3>
        <p><span>python</span></p>
        <a class="more" href="/search?key=python">更多&gt;&gt;</a> </h3>
      <ul>
   {%for article in python%}
         <li><a href="/article/{{article.id}}"><img src="static/article/{{article.title}}"></a><span>{{ article.title }}</span></li>
   {% end %}
      </ul>
      <h3>
        <p><span>javascript</span></p>
        <a class="more" href="/search?key=javascript">更多&gt;&gt;</a> </h3>
      <ul>
   {%for article in js%}
        <li><a href="/article/{{article.id}}"><img src="static/article/{{article.title}}"></a><span>{{ article.title }}</span></li>
   {% end %}
      </ul>
      <h3>
        <p><span>security</span></p>
        <a class="more" href="/search?key=security">更多&gt;&gt;</a> </h3>
      <ul>
   {%for article in security%}
        <li><a href="/article/{{article.id}}"><img src="static/article/{{article.title}}"></a><span>{{ article.title }}</span></li>
   {% end %}
      </ul>
    </div>
    <div class="page"><a title="Total record"><b>{{total}}</b></a>
    {% if len(page_count)>8 %}
        {% for i in page_count[nowpage-4:nowpage+4] %}
           {% if i==nowpage %}
             <b>{{i}}</b>
           {% else %}
           <a href="/program?page={{i}}">{{i}}</a>
           {% end %}
       {% end %}
       {% if nowpage != page_count[-1] %}
         <a href="/program?page={{nowpage+1}}">&gt;</a><a href="/program?page={{page_count[-1]}}">&gt;&gt;</a></div>
       {% end %}
   {% else %}
        {% for i in page_count[:] %}
           {% if i==nowpage %}
             <b>{{i}}</b>
           {% else %}
           <a href="/program?page={{i}}">{{i}}</a>
           {% end %}
       {% end %}
   {% if nowpage != page_count[-1] %}
      <a href="/program?page={{nowpage+1}}">&gt;</a><a href="/program?page={{page_count[-1]}}">&gt;&gt;</a></div>
   {% end %}
{% end %}
  </article>
  <aside>
    <div class="rnav">
      <li class="rnav1 "><a href="/search?key=python">python</a></li>
      <li class="rnav2 "><a href="/search?key=javascript">javascript</a></li>
      <li class="rnav3 "><a href="/search?key=security">security</a></li>
      <li class="rnav4 "><a href="https://github.com/Hackerl">github</a></li>
    </div>
    <div class="ph_news">
      <h2>
        <p>Codes</p>
      </h2>
      <ul class="ph_n">
        {% for i in range(hottotal) %}
            {% if i<3%}
            <li><span class="num1">{{i+1}}</span><a href="/article/{{hots[i].id}}">{{hots[i].title}}</a></li>
            {% end %}
            {% if i<9 and i>2%}
            <li><span>{{i+1}}</span><a href="/article/{{hots[i].id}}">{{hots[i].title}}</a></li>
        {% end %}
        {% end %}
      </ul>
      <h2>
        <p>Forum</p>
      </h2>

       <div class="tj_news"> 
       <ul>
        <li><a href="http://python.xiaoleilu.com/index.html" target="_blank">python</a></li>
        <li><a href="https://segmentfault.com/a/1190000000733803" target="_blank">tornado</a></li>
        <li><a href="http://www.kancloud.cn/manbuheiniu/pyspider/101631" target="_blank">pyspider</a></li>
        <li><a href="http://www.wooyun.org/" target="_blank">乌云社区</a></li>
        <li><a href="http://www.oschina.net/" target="_blank">开源中国</a></li>
      </ul>
        </div>


      <h2>
        <p>Comment</p>
      </h2>
      <ul class="pl_n">
        <dl>
          <dt><img src="static/images/s8.jpg"> </dt>
          <dt> </dt>
          <dd>DanceSmile
            <time>49分钟前</time>
          </dd>
          <dd><a href="/">文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</a></dd>
        </dl>
        <dl>
          <dt><img src="static/images/s7.jpg"> </dt>
          <dt> </dt>
          <dd>yisa
            <time>2小时前</time>
          </dd>
          <dd><a href="/">我手机里面也有这样一个号码存在</a></dd>
        </dl>
        <dl>
          <dt><img src="static/images/s6.jpg"> </dt>
          <dt> </dt>
          <dd>小林博客
            <time>8小时前</time>
          </dd>
          <dd><a href="/">博客色彩丰富，很是好看</a></dd>
        </dl>
        <dl>
          <dt><img src="static/images/003.jpg"> </dt>
          <dt> </dt>
          <dd>DanceSmile
            <time>昨天</time>
          </dd>
          <dd><a href="/">文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</a></dd>
        </dl>
        <dl>
          <dt><img src="static/images/002.jpg"> </dt>
          <dt> </dt>
          <dd>yisa
            <time>前天</time>
          </dd>
          <dd><a href="/">我手机里面也有这样一个号码存在</a></dd>
        </dl>
      </ul>
    </div>

    <div class="copyright">
      <ul>
        <p> Design by <a href="/">DanceSmile</a></p>
        <p>蜀ICP备11002373号-1</p>
        <p></p>
      </ul>
    </div>
  </aside>
<script src="{{static_url("js/modernizr.js")}}"></script>
  <div class="clear"></div>
  <!-- Çå³ýž¡¶¯ --> 
</div>
</body>
</html>
