<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>The hackerl</title>
<meta content="个人博客模板,博客模板,响应式" name="keywords">
<meta content="如影随形主题的个人博客模板，神秘、俏皮。" name="description">
<link rel="stylesheet" href="{{static_url("css/base.css")}}">

<link rel="stylesheet" href="{{static_url("css/style.css")}}">
<link rel="stylesheet" href="{{static_url("css/media.css")}}">

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="{{static_url("js/modernizr.js")}}"></script>
<![endif]-->
</head>
<body>
<div class="ibody">
  <header>
    <h1>如影随形</h1>
    <h2>影子是一个会撒谎的精灵，它在虚空中流浪和等待被发现之间;在存在与不存在之间....</h2>
    <div class="logo"><a href="/"></a></div>
    <nav id="topnav"><a href="/">江湖</a><a href="/about">剑冢</a><a id="topnav_current" href="/prose">坐忘峰</a><a href="/program">试剑亭</a><a href="/music">绿竹巷</a></nav>
  </header>
  <article>
    <h2 class="about_h">您现在的位置是：<a href="/">江湖</a>&gt;<a href="/prose">坐忘峰</a></h2>


    <div class="bloglist">
      {% for article in articles %}
      <div class="newblog">
        <ul>
          <h3><a href="/article/{{article.id}}">{{article.title}}</a></h3>
          <div class="autor"><span>作者：刘小盼</span><span>分类：
    {% for label in article.labels %}
    [<a href="/search?key={{ escape(label.detail) }}">{{ escape(label.detail) }}</a>]    
    {% end %}
</span><span>浏览（{{article.visit}}）</span><span class="ds-thread-count" data-thread-key={{ article.id }}></span></div>
          <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{  article.content_md[0:95]  }}..... <a class="readmore" target="_blank" href="/article/{{article.id}}">全文</a></p>
        </ul>
        <figure><img src="static/article/{{article.title}}"></figure>
        <div class="dateview">{{article.time.date()}}</div>
      </div>
{% end %}


    <div class="page"><a title="Total record"><b>{{total}}</b></a>
    {% for i in page_count[nowpage-4:nowpage+4] %}
       {% if i==nowpage %}
         <b>{{i}}</b>
       {% else %}
       <a href="/prose?page={{i}}">{{i}}</a>
    {% end %}
{% end %}
   {%if page_count%}
   {% if nowpage != page_count[-1] %}
      <a href="/prose?page={{nowpage+1}}">&gt;</a><a href="/prose?page={{page_count[-1]}}">&gt;&gt;</a></div>
   {% end %}
{% end %}
  </article>


  <aside>
    <div class="rnav">
      <li class="rnav1 "><a href="/search?key=随笔">随笔一二</a></li>
      <li class="rnav2 "><a href="/search?key=诗词">诗和远方</a></li>
      <li class="rnav3 "><a href="/search?key=流浪">闲庭漫步</a></li>
      <li class="rnav4 "><a href="/search?key=思考">程序人生</a></li>
    </div>
    <div class="ph_news">
      <h2>
        <p>归云</p>
      </h2>
      <ul class="ph_n">
        {% for i in range(hottotal) %}
            {% if i<3%}
            <li><span class="num1">{{i+1}}</span><a href="/article/{{hots[i].id}}">{{hots[i].title}}</a></li>
            {% end %}
            {% if i<9 and i>2%}
            <li><span>{{i+1}}</span><a href="/article/{{hots[i].id}}">{{hots[i].title}}</a></li>
        {% end %}
        {% end %}
      </ul>
      <h2>
        <p>藏经</p>
      </h2>
     <div class="tj_news"> 
      <ul>
        <li><a href="http://wx.ty2016.net/" target="_blank">武侠小说</a></li>
        <li><a href="http://wulin.fhyx.com/" target="_blank">侠客风云传</a></li>
        <li><a href="http://pcgame.uuu9.com/jymod.html#c" target="_blank">金庸群侠传</a></li>
        <li><a href="http://pal5.baiyou100.com/pal/index.html" target="_blank">仙剑奇侠传</a></li>
        <li><a href="http://www.tudou.com/programs/view/2nhluKyzrvs/" target="_blank">那些年，大侠梦</a></li>
      </ul>
       </div>
      <h2>
        <p>论剑</p>
      </h2>
      <ul class="pl_n">
        <dl>
          <dt><img src="static/images/s8.jpg"> </dt>
          <dt> </dt>
          <dd>DanceSmile
            <time>49分钟前</time>
          </dd>
          <dd><a href="/">文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</a></dd>
        </dl>
        <dl>
          <dt><img src="static/images/s7.jpg"> </dt>
          <dt> </dt>
          <dd>yisa
            <time>2小时前</time>
          </dd>
          <dd><a href="/">我手机里面也有这样一个号码存在</a></dd>
        </dl>
        <dl>
          <dt><img src="static/images/s6.jpg"> </dt>
          <dt> </dt>
          <dd>小林博客
            <time>8小时前</time>
          </dd>
          <dd><a href="/">博客色彩丰富，很是好看</a></dd>
        </dl>
        <dl>
          <dt><img src="static/images/003.jpg"> </dt>
          <dt> </dt>
          <dd>DanceSmile
            <time>昨天</time>
          </dd>
          <dd><a href="/">文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</a></dd>
        </dl>
        <dl>
          <dt><img src="static/images/002.jpg"> </dt>
          <dt> </dt>
          <dd>yisa
            <time>前天</time>
          </dd>
          <dd><a href="/">我手机里面也有这样一个号码存在</a></dd>
        </dl>
      </ul>
    </div>
    <div class="copyright">
      <ul>
        <p> Design by <a href="/">DanceSmile</a></p>
        <p>蜀ICP备11002373号-1</p>
        <p></p>
      </ul>
    </div>
  </aside>
<script src="{{static_url("js/modernizr.js")}}"></script>
<script type="text/javascript">
var duoshuoQuery = {short_name:"hackerl"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
  <div class="clear"></div>
  <!-- 清除浮动 --> 
</div>
</body>
</html>
