{% extends "index.html" %}
{% block page %}
<div id="page">
    <div class="page"><a title="Total record"><b>{{total}}</b></a>
    {% for i in page_count[nowpage-4:nowpage+4] %}
       {% if i==nowpage %}
         <b>{{i}}</b>
       {% else %}
       <a href="/prose?page={{i}}">{{i}}</a>
    {% end %}
{% end %}
   {%if page_count%}
   {% if nowpage != page_count[-1] %}
      <a href="/prose?page={{nowpage+1}}">&gt;</a><a href="/prose?page={{page_count[-1]}}">&gt;&gt;</a></div>
   {% end %}
{% end %}

{% end %}
