<html>
	<head>
		<meta charset="utf-8">
		<title>系统远控</title>
    </head>
	<body background="http://img.wallpapersking.com/d7/2011-4/2011449141.jpg">
		<div style="left: 50px; position: absolute; top: 30px;">
		<form action="/shellstart" method="post">
			<font color=#336699 size="4">命令:<font color=#336699 size="5"><p><input name="shell"></p>
			<font color=#336699 size="4">访问密码:<font color=#336699 size="5"><p><input name="password" type="password"></p>
			<p><button type="submit">start</button></p>
		</div>
		</form>
    </body>
</html>
